* {
  box-sizing: border-box;
  margin: 0;
}

a {
  text-decoration: none;
}

html,
body {
  width: 100%;
  height: 100%
}

.header {
  width: 100%;
  height: 50px;
  background-color: rgb(222, 153, 24);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding-left: 200px;
  padding-right: 200px;
}

nav {
  display: flex;
  gap: 15px;
}

nav h3 {
  color: aqua;
  font-size: 20px;
  border-bottom: 2px solid rgb(222,
      153, 24);
  transition: 0.5s;
}

nav h3:hover {
  border-bottom: 2px solid;
}

.header-logo {
  height: 100%;
}